/* Add screen styles below */
body{
    background-color: gray;
}

button:hover{
    cursor: pointer;
}

#randomChampText{
    font-size: 3em;
    color: red !important;
}

#masthead {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.center{
    position:relative;
    left:50%
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }